* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
    color: white;
    background-image: linear-gradient( #af684a, #7b372e);
    display: flex;
    flex-direction: column;
}

/* Home*/
.home {
    justify-content: flex-start;
    padding: 9rem;

}

.main-home {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: auto;
    margin-left: 0;
    
}

.menu-principal{
    position: relative;
}

h1 {
    font-size: 40px;
    color: white;  
    margin: 20px;
}

h2 {
    font-size: 35px;
    text-align: left; 
    margin: 20px;
}

.buttons {
    display: flex;
    margin-top: 20px; 
    margin-bottom: 0; 
    align-self: flex-start;
}

button, .botao {
    background-color: transparent;
    color: #af684a;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

#nome {
    color: white; /* Ou qualquer outra cor que você queira */
}

.cursor {
    
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


/*Menu principal*/

menu-principal {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100%;
    margin-top: 70px;
    
}

nav {
    color: white;
    background-color: #b48b7e;
    border-radius: 10px;
    padding: 1px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul li {
    border: 1px solid #af684a;
    padding: 3px 10px;
    margin: 0 90px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

ul li:hover {
    border-color: white;
    color: white;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

header {
    text-align: center;
    

}

.nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #b48b7e;
    border-radius: 10px;
    width: 100%;
}

.nav-list.active {
    display: flex;
}

.menu-toggle {
    background-color: white; 
    border: none;
    color: #b48b7e; 
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 10px; 
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s; 
    display: none;
}

.menu-toggle:hover {
    background-color: #7b372e; 
    color: white; 
}

#menu {
    display: flex;
    justify-content: center;
    border: 1px solid #af684a;
    border-radius: 0px
    
}

#menu ul {
    display: flex;
    flex-direction: row;
}


/* sobre mim*/

.sobre-mim {
    background-color: #b48b7e;
    padding: 4rem;
    color: white;
}

.main-sobremim {
    display: flex;
    align-items: flex-start;
    gap:95px;
}

.contentsobremim {
    margin-right: 30px; 
}

.text-container {
    max-width: 700px; 
}

.sobre-mim h3 {
    font-size:larger;
    text-align: left;  
    font-weight: bold;
    margin-bottom: 45px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    text-align: left; 
}

.fotokamila img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}

.topico {
    display: flex;
    justify-content: center;  
    margin-top: 20px;   
    margin-left: 55rem;
     
}
.topico img{
    width: 50px;  
    height: 50px;
    margin: 5px;
    overflow: hidden;

}
.icon-container {
    display: flex;
    justify-content: center;
    position: absolute;
    animation: transform 0.5s; 
}

@keyframes swap {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%); 
    }
    50% {
        transform: translateX(-100%);
    }
    70% {
        transform: translateX(-200%); 
    }
    100% {
        transform: translateX(0); 
    }
}

#html {
    animation: swap 6s infinite; 
    animation-delay: 2s;
}

#css {
    animation: swap 6s infinite;
    animation-delay: 4s; 
}

#js {
    animation: swap 6s infinite;
    animation-delay: 6s; 
}



/*Projetos*/


.projeto {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    max-width: 900px;
    margin: 0;
}


.projeto.oculto {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    max-width: 35px;
    visibility: hidden; 
    opacity: 0; 
}

.projeto:not(.oculto) {
    visibility: visible; 
    opacity: 1; 
    gap: 40px;
    margin-right: 20px; 
    margin-left: -1px;

}


.container-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.projeto-card {
    width: 400px;
    height: 400px;
    background-color: #cccccc;
    border-radius: 10px;
    position: relative;
    margin-right: 20px; 
    margin-left: -1px;
}
.em-breve {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.container-descricao {
    width: 400px; 
    height: 400px; 
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}
#verMais{
    display: block; 
    margin-top: 5px auto 0;
}
.botao {
    display: flex;
    width: 15rem;
    justify-content: center;
    display: flex;
    margin-top: 5px; 
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.botao:hover {
    background-color: #af684a;
    color: white;
}

.botao-container {
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-top: 20px; 
    justify-content: center;
}


.centralizar {
    text-align: center;
    margin-top: 20px; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.repositorio {
    text-align: center;
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.projetos h2{
    text-align: left; 
    margin-left: 80px;
}


/*Contatos*/

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato {
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.contato div {
    display: flex; 
    gap: 5px; 
    font-size: 35px;
}

.contato div i {
    font-size: 40px;
}

.contato h3 {
    align-self: flex-start; 
    margin-bottom: 10px;
    font-weight: normal;
}


footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
    background-color: white; 
    color: black; 
    width: 100%; 
}

/* Responsividade para telas médias (tablets) */

/* Menu principal*/

@media (max-width: 768px) {

    .menu-principal {
        justify-content: space-between;
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    #menu {
        display: none; /* Começa oculto */
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        background-color: #b48b7e;
        border-radius: 10px;
    }

    #menu.active {
        display: flex; /* Torna o menu visível quando a classe "active" é adicionada */
        flex-direction: column;
    }

    #menu ul {
        flex-direction: column;
        padding: 0;
    }

    #menu ul li {
        margin: 5px 0;
        text-align: center;
    }

    #menu ul li a {
       display: block;
       width: 100%;
       padding: 10px;
       color: #af684a;
       text-decoration: none;
    }

    #menu ul li a:hover {
       background-color: #f0f0f0;
    }

    /*home*/

    .home {
        padding: 5rem;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    .buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    button, .botao {
        font-size: 14px;
        padding: 8px;
    }

    /* projetos*/

    .container-projetos {
        padding: 20px;
    }

    .projeto {
        flex-direction: column;
        align-items: center; 
        max-width: 100%; 
        margin: 0 0 20px 0;
    }

    .projeto-card{
        width: 90%; 
        height: 20rem; 
        
    }
    .container-descricao {
        width: auto; 
        height: 20rem; 
    }

    .em-breve {
        font-size: 1.2rem; 
    }

    .botao {
        width: 100%; 
        font-size: 16px; 
    }

    .projetos h2 {
        text-align: center; 
        width: 100%;
    }



    /*sobre mim*/

    .main-sobremim {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .fotokamila img {
        width: 250px;
        height: 250px;
    }

    .text-container {
        max-width: 100%;
        text-align: center;
    }

    .buttons a {
        margin-bottom: 10px;
    }

    .topico {
        margin-left: 0;
        justify-content: center;
    }

    .topico img {
        width: 40px;
        height: 40px;
    }


}

/* Estilo para celulares (largura máxima de 480px) */

/* home*/

@media (max-width: 480px) {

    .home {
        padding: 3rem;
    }

    h1 {
        font-size: 24px;
        margin: 10px;
    }

    h2 {
        font-size: 20px;
        margin: 10px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    button, .botao {
        font-size: 12px;
        padding: 6px;
        margin: 2px;
    }

    /*Sobre mim*/

    .main-sobremim {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .fotokamila img {
        width: 200px;
        height: 200px;
    }

    .text-container {
        max-width: 100%;
        text-align: center;
    }

    .buttons a {
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .topico {
        margin-left: 0;
        justify-content: center;
    }

    .topico img {
        width: 35px;
        height: 35px;
    }
}